*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

body {
    background-image: linear-gradient(120deg,#f6d365, #fda085);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    text-align: center;
    
  }

h3{
    color: white;
    background-color: rgb(90, 8, 241);
}



.contenedor-cartas {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.selects{
    border-radius: 10px;
    color: black;
}


.cartas {
    transition: all 0.5s;
    
}
.cartas:hover {
    border-radius: 25px;
    margin: 10px;
    background-color:#70adfc;
    transition: all 0.5s ease-out;
    
    
}


.cards{
    color: white;
    list-style-type: none;
    
}
.h2card{
    list-style-type: none;
    color: white
}


.tituloPrincipal{
    
    cursor: pointer;
    border-style: solid;
    border-color: white;
    
    
}


.number {
    border-width: 8px;
    font-size: 15px;
    border-color: white;
    
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    
    
    cursor: pointer;
    
}
.number:hover{
    transition: all 0.3s;
    
}

.grid{
display: grid;

grid-template-columns: 20% 33% 80%;
}
.paginado {
    left: 10px;
    font-size: 15px;
    margin-top: 8px;
    transition: all 0.3s ease;
}
.paginado:hover{
    transition: all 0.3s ease;
    background: black;
    border-radius: 10px;
}

.botoncreate{

}

.search{
    display: flex; 
    
}

.search-input{
    border: none;
    width: 120px;
}

.boton-search{
    border: none;
    border-radius: 0px;
    width: 70px;
}

.nav{
    
    display: flex;
    
    max-width: 1450px;
    margin: 0 auto;
    
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border: none;
}

select{
    background-color: rgb(255, 255, 255);
    width: 12rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

select:hover{
    transition: all 0.3s ease;
   
}

.create{
    background-color: #f6d365;
    text-align: center;
    
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 

}

.tituloCreate{
    display: block;
    color: white;
    cursor: pointer;
    border-style: solid;
   
    background-color: #f6d365;
    transition: all 0.5s ease;
    
}
.tituloCreate:hover{
    background-color: #fda085;
    
    border-radius: 20px;
    transition: all 0.5s ease;
}

.card-detail{
    
    color: black;
    background-color: white;
    opacity: 100%;
    justify-content: left;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card-detail:hover{
    border-radius: 50px;
    color: black;
    transition: all 0.3s ease;
    background: #65b0f6;
    
}

.dif-create{
    width: 87px;
}
.dura-create{
    width: 68px;
}
.sea-create{
    width: 143px;
}

button{
    color:black;
    font-size: 15px;
    border: none;
    background: white;
    height: 2rem;
    width: 10rem;
    transition: all 0.5s ease;
    
}

button:hover{
    
    background: linear-gradient(120deg,#f6d365, #fda085);
    cursor: pointer;
    transition: all 0.5s ease;
}