*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg,#f6d365, #fda085);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    text-align: center;
    
  }


h1{
   
    color: white;
    font-size: 30px;
    border: 10px linear-gradient(120deg,#a5e759, #62e4d2); 
   
    
    
    
    
    
}




div h2{
    text-decoration: none;
    color:none;
    text-shadow: black;
    border-radius: 10px;
}

h3{
    color: white;
    background-color: rgb(90, 8, 241);
}



.contenedor-cartas {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.selects{
    border-radius: 10px;
    color: black;
}

.cartas {
    
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 
    border-radius: 25px;
    margin: 10px;
    background-color: rgb(90, 8, 241);
}



.cards{
    color: white;
    text-decoration: none;

    
}
.h2card{
    text-decoration: none;
    color: white
}

.botoncreate {
    position: fixed;
    right: 0px;
    border-radius: 10px;
    top: 10px;
    cursor: pointer;
    background-color: white;
    color: white;
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 
    font-size: 15px;
}

.search{
    background-color: white;
    border: 5px linear-gradient(120deg,#4d7de4, #6136b1); 
    
}


.boton-search{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 0px linear-gradient(120deg,#4d7de4, #6136b1); 
    font-size: 15px;
    text-decoration: none!important;
}






.number {
    border-width: 8px;
    border-style: solid;
    border-color: white;
    box-shadow: 200px 0 white inset;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    
    
   
    
}
.paginado {
    top: 10px;
    left: 300px;
    position: fixed;
    justify-content: center;
    background-color: white;
    color: white;
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 
    font-size: 15px;

    
}


.botonreload{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 
    font-size: 15px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;

}

select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    
}
.button{
    border-radius: 10px;
}



.boton-detalle{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 
    font-size: 15px;
}


.boton-home-create{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1);
    font-size: 15px;
}

.create{
    background-color: yellowgreen;
    text-align: center;
    display: inline-block;
    border: 10px linear-gradient(120deg,#4d7de4, #6136b1); 

    
}

header{
    background: tomato;
}
.nav{
    position: fixed;
    background: tomato;
}

.card-detail{
    text-decoration: none;
    color: black;
    background-color: white;
    opacity: 98%;
}

.dif-create{
    width: 87px;
}
.dura-create{
    width: 68px;
}
.sea-create{
    width: 143px;
}