.principal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.principal {
    
    
    
    
    background-image: url("https://i.ibb.co/HzR8x4S/59052301-viajar-por-todo-el-mundo-poster-alquiler-turismo-tierra-del-mundo-viaje-global-ilustraci-n.jpg");
}
.number {
    border-width: 8px;
    border-style: solid;
    border-color: lightblue;
    box-shadow: 20px 0 lightblue inset;
   
    
}
.paginado {
    display: flex;
    justify-content: center;
    
}
.cartas {
    display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


