
body{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.landing-div {
   line-height: 200px;
   opacity: 90%;
  
   
}

.principal-h1{
  text-shadow: 2px 2px 2px black;
  font-size: 40px;
  color: white
}


.boton {
    color: black;
    font-size: 15px; 
    line-height: 15px; 
    padding: 11px; 
    border-radius: 20px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: silver; 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    
    
}
  .boton:hover{
      cursor: pointer;
  }  

 
  